
html, body{
	height: 100%;
}

body{
	margin: 0px;
	padding: 0px;
	background: #2e789c;
	font-family: 'Open Sans', sans-serif;
	font-size: 10pt;
	font-weight: 300;
	color: #6c6c6c;
}

h1, h2, h3{
	margin: 0;
	padding: 0;
	font-weight: 600;
	color: white;
}

p, ol, ul{
	margin-top: 0;
}

ol, ul{
	padding: 0;
	list-style: none;
}

p{
	line-height: 180%;
}

a{
	text-decoration: none;
	color: #2C383B;
}

a:hover{
	text-decoration: none;
}

.container{
	margin: 0px auto;
	width: 1200px;
}

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

.button{
	display: inline-block;
	padding: 1.3em 3em;
	background: #2e789c;
	-moz-transition: opacity 0.25s ease-in-out;
	-webkit-transition: opacity 0.25s ease-in-out;
	-o-transition: opacity 0.25s ease-in-out;
	-ms-transition: opacity 0.25s ease-in-out;
	transition: opacity 0.25s ease-in-out;
	letter-spacing: 0.20em;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	color: #FFF;
	border-radius:8px;
	margin-top:100px;
}


/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

.title{
	margin-bottom: 0em;
}

.title h2{
	font-weight: 400;
	font-size: 2.8em;
	color: #323232;
}

.title .byline{
	letter-spacing: 0.15em;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.1em;
	color: #6F6F6F;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/
	
#header-wrapper{
	background: #FFF;
}

#header{
	position: relative;
	height: 100px;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo{
	position: absolute;
	top: 1em;
	left: 0;
	width: 100%;
}

#logo h1{
	display: inline-block;
	font-size: 2.5em;
	text-transform: uppercase;
	font-weight: 700;
	color: #2C383B;
	padding-right: 0.50em;
}

#logo span{
	position: absolute;
	top: 1.4em;
	display: inline-block;
	padding-left: 1.50em;
	letter-spacing: 0.10em;
	text-transform: uppercase;
	font-size: 0.90em;
}

#logo a{
	text-decoration: none;
	color: #2C383B;
}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

#menu{
	position: absolute;
	right: 0;
	top: 0em;
}

#menu ul{
	display: inline-block;
}

#menu li{
	display: block;
	float: left;
	text-align: center;
	line-height: 71px;
}

#menu li a, #menu li span{
	display: inline-block;
	margin-left: 1px;
	padding: 1em 1.5em;
	letter-spacing: 0.10em;
	text-decoration: none;
	font-size: 1em;
	text-transform: uppercase;
	outline: 0;
	color: #212121;
	background: #ECECEC;
}

#menu .current_page_item a{
	background: #2e789c;
	color: #FFF;
}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/
	
#banner-wrapper{
	overflow: hidden;
	padding: 3em 0em;
	background: #2e789c;
}

#banner{
	overflow: hidden;
	width: 1000px;
	padding: 0px 100px;
	text-align: center;
	color: rgba(255,255,255,.7);
}

#banner h2{
	margin: 0em;
	padding: 0em;
	font-weight: 400;
	font-size: 2em;
	color: white;
}

#wrapper{
	background: #FFF;
}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

#copyright{
	overflow: hidden;
	padding: 2em 0em;
	border-top: 
}

#copyright p{
	letter-spacing: 0.20em;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.80em;
	color: #ACCFFF;
}

#copyright a{
	text-decoration: none;
	color: rgba(255,255,255,0.6);
}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

#featured-wrapper{
	overflow: hidden;
	padding: 2em 0em;
	background: #FFF;
	text-align: center;
}

#featured{
	overflow: hidden;
}

#featured .major{
	overflow: hidden;
	margin-bottom: 3em;
	padding-bottom: 2em;
	border-bottom: 1px solid #E8E8E8;
}

#featured .major h2{
	font-size: 3em;
}

#featured .major .byline{
	font-size: 1.3em;
}

#featured .title{
	margin-bottom: 1.5em;
	padding-bottom: 1.5em;
	border-bottom: 1px solid #E3E3E3;
}

#featured .title h2{
	font-size: 1.2em;
}

#featured h2{
	text-align: center;
}

#featured .icon{
	position: relative;
	display: inline-block;
	width: 150px;
	height: 150px;
	background: #2C383B;
	margin: 0px auto 20px auto;
	line-height:  150px;
	font-size: 5em;
	text-align: center;
	color: #FFF;
}

.column1,  .column2,  .column3,  .column4{
	width: 282px;
}

.column1,  .column2{
	float: left;
	margin-right: 24px;
}

.column3{
	float: left;
}

.column4{
	float: right;
}
.column5,  .column6,  .column7,  .column8{
	width: 282px;
}

.column5,  .column6{
	float: left;
	margin-right: 24px;
}

.column7{
	float: left;
}

.column8{
	float: right;
}
.column9,  .column10,  .column11,  .column12{
	width: 282px;
}

.column9,  .column10{
	float: left;
	margin-right: 24px;
}

.column11{
	float: left;
}

.column12{
	float: right;
}

.column13,  .column14,  .column15,  .column16{
	width: 282px;
}

.column13,  .column14{
	float: left;
	margin-right: 24px;
}

.column15{
	float: left;
}

.column16{
	float: right;
}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

#footer-wrapper{
	overflow: hidden;
	padding: 7em 0em;
	color: rgba(255,255,255,0.5);
}


#footer .title h2{
	font-size: 2em;
	font-weight: 300;
	color: #FFF;
}

#footer .title .byline{
	display: block;
	padding-top: 1em;
	text-transform: uppercase;
	font-size: 0.80em;
	color: rgba(255,255,255,0.5);
}

#footer .column1,
#footer .column2{
	width: 560px;
}

#footer .column1{
	float: left;
}

#footer .column2{
	float: right;
}

#footer .button{
	margin-top: 2em;
}

h1{
	font-size:3em;
}